<p id="notice"><%= notice %></p>

<p>
  <strong>New thing:</strong>
  <%= @post_template.new_thing %>
</p>

<p>
  <strong>Other thing:</strong>
  <%= @post_template.other_thing %>
</p>

<p>
  <strong>Another thing:</strong>
  <%= @post_template.another_thing %>
</p>

<%= link_to 'Edit', edit_post_template_path(@post_template) %> |
<%= link_to 'Back', post_templates_path %>
