<p id="notice"><%= notice %></p>

<h1>Final Tests</h1>

<table>
  <thead>
    <tr>
      <th>This</th>
      <th>That</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @final_tests.each do |final_test| %>
      <tr>
        <td><%= final_test.this %></td>
        <td><%= final_test.that %></td>
        <td><%= link_to 'Show', final_test %></td>
        <td><%= link_to 'Edit', edit_final_test_path(final_test) %></td>
        <td><%= link_to 'Destroy', final_test, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Final Test', new_final_test_path %>
