<p id="notice"><%= notice %></p>

<p>
  <strong>This:</strong>
  <%= @final_test.this %>
</p>

<p>
  <strong>That:</strong>
  <%= @final_test.that %>
</p>

<%= link_to 'Edit', edit_final_test_path(@final_test) %> |
<%= link_to 'Back', final_tests_path %>
